<nav>
    <div class="nav-container">
        <h1 class="nav-title"><a href="index.html"></a>Luana Gerber</a></h1>
        <div class="nav-links">
            <a href="index.html#hero">About Me</a>
            <a href="index.html#skills">Skills</a>
            <a href="index.html#portfolio">Projects</a>
            <a href="index.html#contact">Contact</a>
            <a href="https://luanagerber.duno.ch/assets/docs/cv_luanagerber_dev.pdf" target="_blank">CV</a>
        </div>
    </div>
</nav>
<div class="navMobile-container" onclick="event.stopPropagation(); toggleMenu();">
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
<!-- Menu mobile separado, fora do nav -->
<div class="mobile-menu" id="mobileMenu">
    <a href="index.html#hero">About Me</a>
    <a href="index.html#skills">Skills</a>
    <a href="index.html#portfolio">Projects</a>
    <a href="index.html#contact">Contact</a>
    <a href="https://luanagerber.duno.ch/assets/docs/cv_luanagerber_dev.pdf" target="_blank">CV</a>
</div>